<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %>
    <div class="l-container pt-2">
      <h2>Welcome to the forms App</h2>
      <p>Here are the forms:</p>
      <ul>
        <li><a href="/carrels">Carrel Request Form</a></li>
        <li><a href="/dams-projects">DAMS Projects Request Form</a></li>
        <li><a href="/digitalsign">Digital Sign Request Form</a></li>
        <li><a href="/lockers">Locker Request Form</a></li>
      </ul>
    </div>
    <%- include('include/footer'); %>
  </body>
</html>
