<div class="l-container pt-2">
  <h2>Shields Carrel Request Form</h2>
  <p>
    Patrons will be emailed within one week of application regarding carrel
    availability.
  </p>
  <p>
    For questions, please email us at
    <a href="mailto:lib-lockersandcarrels@ad3.ucdavis.edu"
      >lib-lockersandcarrels@ad3.ucdavis.edu</a
    >.
  </p>
</div>
