<div class="l-container pt-2">
  <h2><%= title %></h2>
  <p>
    Please provide the requested information to the best of your ability in the
    appropriate sections.
  </p>
  <p>
    <strong
      >Please do not provide any personal information as this form can be viewed
      publicly.</strong
    >
  </p>
</div>
