<div class="l-container pt-2">
  <h2><%= title %></h2>
  <p><strong>Submit one completed form per image/event.</strong></p>
  <p><strong>Accepted image/video dimensions: w1920 x h1080 pixels.</strong></p>
  <p><strong>Accepted file types:</strong></p>
  <ul class="default">
    <li>Video: MP4, AVI, MPG plus SWF (flash), MPG</li>
    <li>Image: JPG (preferred), TIF, PNG</li>
  </ul>
  <p>Signs that do not meet these specifications will be returned.</p>
  <p>
    Learn more about
    <a href="https://www.library.ucdavis.edu/service/using-digital-signs/"
      >using digital signs</a
    >
  </p>
</div>
