<ucd-theme-header
  site-name="UC Davis Library"
  slogan="Library Forms"
  figure-src="/views/img/book-logo.png"
  prevent-fixed
  is-demo
>
  <ucd-theme-primary-nav>
    <ul link-text="Forms" href="/">
      <li><a href="/carrels">Carrels</a></li>
      <li><a href="/lockers">Lockers</a></li>
    </ul>
  </ucd-theme-primary-nav>

  <ucd-theme-search-popup>
    <ucd-theme-search-form @search="e => console.log(e.detail.searchTerm)">
    </ucd-theme-search-form>
  </ucd-theme-search-popup>
</ucd-theme-header>
