<div class="l-container pt-2">
  <h2>Shields Locker Request Form</h2>
  <p>
    Please read the <a href="locker-use-policy.pdf">Locker Use Policy</a> prior
    to submitting this application. Locker assignments will be made at the
    beginning of the quarter.
  </p>
  <p>
    For questions, please email us at
    <a href="mailto:lib-lockersandcarrels@ad3.ucdavis.edu"
      >lib-lockersandcarrels@ad3.ucdavis.edu</a
    >
  </p>
</div>
