[type='checkbox'],
[type='radio'] {
  height: 1em;
  width: 1em;
}
.form-check-label {
  display: inline-block;
}
.radio-list li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.radio-list li label {
  padding-bottom: 0;
}
.pt-2 {
  padding-top: 2rem;
}
input:disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.3;
  pointer-events: none;
}
#carrel {
  width: 5.5rem;
}
